on:
  pull_request:
  push:
    paths-ignore: [LICENSE, README.md]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ludeeus/action-shellcheck@master
        with:
          scandir: scripts
